@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Imprima&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/*Dimensiones de un telefono pequeño de 325px de ancho*/
.encabezado{
    width: 320px;
    height: 100px;
    background-image: url(./assets/imgs/banner\ 1.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}
.logo{
    width: 80px;
    height: 80px;
    grid-area: logo;
}
.logo img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-top: 10px;
}
.navBar1{
    display: flex;
    margin-top: -40px;
    margin-left: 100px;
    font-size: 8px;
    font-family: 'Roboto', Regular;
    height: 10px;
    gap: 10px;
    justify-content: space-evenly;
}
.navBar1 li{
    list-style: none;
    background: rgba(255,255,255,0.25);
    box-shadow: 20px 20px 40px -6px rgba(0,0,0,0.2);
    backdrop-filter: blur(3.4px);
    -webkit-backdrop-filter: blur(3.4px);
    border-radius: 10px;
}
.navBar1 li a{
    text-decoration: none;
    color: black;
}
.navBar1 li a:hover{
    text-decoration: none;
    font-size: 10px;
    color: black;
    background: rgba(255, 0, 0, 0.25);
    box-shadow: 20px 20px 40px -6px rgba(255, 0, 0, 0.301);
    backdrop-filter: blur(3.4px);
    -webkit-backdrop-filter: blur(3.4px);
    border-radius: 10px;
}
.mainContainer{
    width: 320px;
    background-image: url(./assets/imgs/logo\ david\ 320.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    grid-area: mainContainer;
}
.capitulosBar{
    grid-area: capitulosBar;
}
.capitulosBar p{
    text-align: center;
}
.capitulosBar p a{
    color: white;
    text-decoration: none;
    font-family: 'Imprima', sans-serif;
    font-size: 8px;

}
.cap1{
    background-image: url(./assets/imgs/cap1.jpg);
    background-size: cover;
    width: 45px;
    height: 45px;
    border-radius: 10px;
}
.cap1 p a:hover{
    font-size: 9px;
}
.cap2{
    background-image: url(./assets/imgs/cap2.jpg);
    background-size: cover;
    width: 45px;
    height: 45px;
    border-radius: 10px;
}
.cap2 p a:hover{
    font-size: 9px;
}
.cap3{
    background-image: url(./assets/imgs/cap3.jpg);
    background-size: cover;
    width: 45px;
    height: 45px;
    border-radius: 10px;
}
.cap3 p a:hover{
    font-size: 9px;
}
.cap4{
    background-image: url(./assets/imgs/cap4.jpg);
    background-size: cover;
    width: 45px;
    height: 45px;
    border-radius: 10px;
}
.cap4 p a:hover{
    font-size: 9px;
}
.cap5{
    background-image: url(./assets/imgs/cap5.jpg);
    background-size: cover;
    width: 45px;
    height: 45px;
    border-radius: 10px;
}
.cap5 p a:hover{
    font-size: 9px;
}
.cap6{
    background-image: url(./assets/imgs/cap6.jpg);
    background-size: cover;
    width: 45px;
    height: 45px;
    border-radius: 10px;
}
.cap6 p a:hover{
    font-size: 9px;
}
.datoCurioso1{
    background-image: url(./assets/imgs/datoc1.jpg);
    height: 75px;
    width: 290px;
    border-radius: 10px;
    grid-area: datoCurioso1;
}
.datoCurioso1 p{
    text-align: center;
    padding-top: 20px;
    color: white;
    font-family: 'Imprima', sans-serif;
    font-size: 10px;
}
.datoCurioso2{
    background-image: url(./assets/imgs/datoc2.jpg);
    height: 75px;
    width: 140px;
    border-radius: 10px;
    grid-area: datoCurioso2;
}
.datoCurioso2 p{
    text-align: center;
    padding-top: 20px;
    color: white;
    font-family: 'Imprima', sans-serif;
    font-size: 10px;
}
.datoCurioso3{
    background-image: url(./assets/imgs/datoc3.jpg);
    height: 75px;
    width: 140px;
    border-radius: 10px;
    grid-area: datoCurioso3;
}
.datoCurioso3 p{
    text-align: center;
    padding-top: 20px;
    color: white;
    font-family: 'Imprima', sans-serif;
    font-size: 10px;
}
.datoCurioso4{
    background-image: url(./assets/imgs/datoc4.jpg);
    height: 75px;
    width: 140px;
    border-radius: 10px;
    grid-area: datoCurioso4;
}
.datoCurioso4 p{
    text-align: center;
    padding-top: 20px;
    color: white;
    font-family: 'Imprima', sans-serif;
    font-size: 10px;
}
.datoCurioso5{
    background-image: url(./assets/imgs/datoc5.jpg);
    height: 75px;
    width: 140px;
    border-radius: 10px;
    grid-area: datoCurioso5;
}
.datoCurioso5 p{
    text-align: center;
    padding-top: 20px;
    color: white;
    font-family: 'Imprima', sans-serif;
    font-size: 10px;
}
.mainContainer{
    align-items: center;
    display: grid;
    grid-template-columns: 15px 140px 10px 140px 15px;
    grid-template-rows: 120px 105px 105px 105px;
    grid-template-areas: 
    ". capitulosBar capitulosBar capitulosBar ."
    ". datoCurioso1 datoCurioso1 datoCurioso1 ."
    ". datoCurioso2 . datoCurioso3 ."
    ". datoCurioso4 . datoCurioso5 ."
    ;
}
.capitulosBar{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 2fr;
    grid-template-areas: 
    "cap1 cap2 cap3"
    "cap4 cap5 cap6"
    ;
    gap: 10px;
    padding-left: 30px;
}
.footerLogos{
    padding-left: 80px;
    padding-top: 5px;
}
.footerLogos img{
    height: 30px;
    width: 30px;
    border-radius: 50%;
}
.titulo{
    grid-area: titulo;
}
.titulo h2{
    font-size: 10px;
    color: black;
    font-family: 'Imprima', sans-serif;
    padding-left: 130px;
}
.capContainer{
    width: 320px;
    background-image: url(./assets/imgs/logo\ david\ 320.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    grid-area: mainContainer;
}
.capitulo1{
    grid-area: capitulo1;
}
.cap1Titulo{
    background-image: url(./assets/imgs/cap1.jpg);
    background-size: cover;
    height: 45px;
    width: 45px;
    border-radius: 10px;
    grid-area: cap1Titulo;
}
.cap1Titulo p{
    text-align: center;
    padding-top: 30%;
    color: white;
    text-decoration: none;
    font-family: 'Imprima', sans-serif;
    font-size: 8px;
}
.cap1Sinopsis{
    background-image: url(./assets/imgs/sinopsis1.jpg);
    background-size: cover;
    height: 45px;
    width: 230px;
    border-radius: 10px;
    margin-left: 55px;
    margin-top: -45px;
    grid-area: cap1Sinopsis;
}
.cap1Sinopsis p{
    text-align: center;
    color: white;
    padding-top: 10px;
    text-decoration: none;
    font-family: 'Imprima', sans-serif;
    font-size: 8px;
}
.capitulo2{
    grid-area: capitulo2;
}
.cap2Titulo{
    background-image: url(./assets/imgs/cap2.jpg);
    background-size: cover;
    height: 45px;
    width: 45px;
    border-radius: 10px;
    grid-area: cap2Titulo;
}
.cap2Titulo p{
    text-align: center;
    padding-top: 30%;
    color: white;
    text-decoration: none;
    font-family: 'Imprima', sans-serif;
    font-size: 8px;
}
.cap2Sinopsis{
    background-image: url(./assets/imgs/sinopsis2.jpg);
    background-size: cover;
    height: 45px;
    width: 230px;
    border-radius: 10px;
    margin-left: 55px;
    margin-top: -45px;
    grid-area: cap2Sinopsis;
}
.cap2Sinopsis p{
    text-align: center;
    color: white;
    padding-top: 10px;
    text-decoration: none;
    font-family: 'Imprima', sans-serif;
    font-size: 8px;
}
.capitulo3{
    grid-area: capitulo3;
}
.cap3Titulo{
    background-image: url(./assets/imgs/cap3.jpg);
    background-size: cover;
    height: 45px;
    width: 45px;
    border-radius: 10px;
    grid-area: cap3Titulo;
}
.cap3Titulo p{
    text-align: center;
    padding-top: 30%;
    color: white;
    text-decoration: none;
    font-family: 'Imprima', sans-serif;
    font-size: 8px;
}
.cap3Sinopsis{
    background-image: url(./assets/imgs/sinopsis3.jpg);
    background-size: cover;
    background-position: bottom;
    height: 45px;
    width: 230px;
    border-radius: 10px;
    margin-left: 55px;
    margin-top: -45px;
    grid-area: cap3Sinopsis;
}
.cap3Sinopsis p{
    text-align: center;
    color: white;
    padding-top: 10px;
    text-decoration: none;
    font-family: 'Imprima', sans-serif;
    font-size: 8px;
}
.capitulo4{
    grid-area: capitulo4;
}
.cap4Titulo{
    background-image: url(./assets/imgs/cap4.jpg);
    background-size: cover;
    height: 45px;
    width: 45px;
    border-radius: 10px;
    grid-area: cap4Titulo;
}
.cap4Titulo p{
    text-align: center;
    padding-top: 30%;
    color: white;
    text-decoration: none;
    font-family: 'Imprima', sans-serif;
    font-size: 8px;
}
.cap4Sinopsis{
    background-image: url(./assets/imgs/sinopsis4.jpg);
    background-size: cover;
    background-position: bottom;
    height: 45px;
    width: 230px;
    border-radius: 10px;
    margin-left: 55px;
    margin-top: -45px;
    grid-area: cap1Sinopsis;
}
.cap4Sinopsis p{
    text-align: center;
    color: white;
    padding-top: 10px;
    text-decoration: none;
    font-family: 'Imprima', sans-serif;
    font-size: 8px;
}
.capContainer{
    align-items: center;
    display: grid;
    grid-template-columns: 15px 290px 15px;
    grid-template-rows: 20px 60px 60px 60px 60px;
    grid-template-areas: 
    ". titulo ."
    ". capitulo1 ."
    ". capitulo2 ."
    ". capitulo3 ."
    ". capitulo4 ."
    ;
}

/*Dimensiones de un telefono mediano de 375px de ancho */
@media (min-width: 375px){
    .encabezado{
        width: 375px;
        height: 100px;
    }
    .logo{
        width: 80px;
        height: 80px;
        grid-area: logo;
    }
    .logo img{
        width: 80px;
        height: 80px;
        border-radius: 50%;
        margin-top: 10px;
    }
    .navBar1{
        margin-top: -35px;
        margin-left: 90px;
        font-size: 9px;
        height: 11px;
    }
    .navBar1 li a:hover{
        font-size: 10px;
    }
    .mainContainer{
        width: 375px;
        background-image: url(./assets/imgs/logo\ david\ 375.jpeg);
        grid-area: mainContainer;
    }
    .capitulosBar{
        grid-area: capitulosBar;
    }
    .capitulosBar p{
        text-align: center;
    }
    .capitulosBar p a{
        font-size: 9px;
    
    }
    .cap1{
        width: 45px;
        height: 45px;
    }
    .cap1 p a:hover{
        font-size: 10px;
    }
    .cap2{
        width: 45px;
        height: 45px;
    }
    .cap2 p a:hover{
        font-size: 10px;
    }
    .cap3{
        width: 45px;
        height: 45px;
    }
    .cap3 p a:hover{
        font-size: 10px;
    }
    .cap4{
        width: 45px;
        height: 45px;
    }
    .cap4 p a:hover{
        font-size: 10px;
    }
    .cap5{
        width: 45px;
        height: 45px;
    }
    .cap5 p a:hover{
        font-size: 10px;
    }
    .cap6{
        width: 45px;
        height: 45px;
    }
    .cap6 p a:hover{
        font-size: 10px;
    }
    .datoCurioso1{
        height: 75px;
        width: 325px;
        grid-area: datoCurioso1;
    }
    .datoCurioso1 p{
        font-size: 10px;
    }
    .datoCurioso2{
        height: 75px;
        width: 155px;
        grid-area: datoCurioso2;
    }
    .datoCurioso2 p{
        font-size: 10px;
    }
    .datoCurioso3{
        height: 75px;
        width: 155px;
        grid-area: datoCurioso3;
    }
    .datoCurioso3 p{
        font-size: 10px;
    }
    .datoCurioso4{
        height: 75px;
        width: 155px;
        grid-area: datoCurioso4;
    }
    .datoCurioso4 p{
        font-size: 10px;
    }
    .datoCurioso5{
        height: 75px;
        width: 155px;
        grid-area: datoCurioso5;
    }
    .datoCurioso5 p{
        font-size: 10px;
    }
    .mainContainer{
        align-items: center;
        display: grid;
        grid-template-columns: 25px 155px 15px 155px 25px;
        grid-template-rows: 120px 105px 105px 105px;
        grid-template-areas: 
        ". capitulosBar capitulosBar capitulosBar ."
        ". datoCurioso1 datoCurioso1 datoCurioso1 ."
        ". datoCurioso2 . datoCurioso3 ."
        ". datoCurioso4 . datoCurioso5 ."
        ;
    }
    .capitulosBar{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: 2fr;
        grid-template-areas: 
        "cap1 cap2 cap3"
        "cap4 cap5 cap6"
        ;
        gap: 10px;
        padding-left: 45px;
    }
    .footerLogos{
        padding-left: 110px;
        padding-top: 5px;
    }
    .footerLogos img{
        height: 30px;
        width: 30px;
        border-radius: 50%;
    }
    .titulo{
        grid-area: titulo;
    }
    .titulo h2{
        font-size: 11px;
        padding-left: 160px;
    }
    .capContainer{
        width: 375px;
        background-image: url(./assets/imgs/logo\ david\ 375.jpeg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        grid-area: capContainer;
    }
    .capitulo1{
        grid-area: capitulo1;
    }
    .cap1Titulo{
        height: 55px;
        width: 55px;
        grid-area: cap1Titulo;
    }
    .cap1Titulo p{
        font-size: 9px;
    }
    .cap1Sinopsis{
        height: 55px;
        width: 270px;
        margin-left: 65px;
        margin-top: -55px;
        grid-area: cap1Sinopsis;
    }
    .cap1Sinopsis p{
        font-size: 9px;
    }
    .capitulo2{
        grid-area: capitulo2;
    }
    .cap2Titulo{
        height: 55px;
        width: 55px;
        grid-area: cap2Titulo;
    }
    .cap2Titulo p{
        font-size: 9px;
    }
    .cap2Sinopsis{
        height: 55px;
        width: 270px;
        margin-left: 65px;
        margin-top: -55px;
        grid-area: cap2Sinopsis;
    }
    .cap2Sinopsis p{
        font-size: 9px;
    }
    .capitulo3{
        grid-area: capitulo3;
    }
    .cap3Titulo{
        height: 55px;
        width: 55px;
        grid-area: cap3Titulo;
    }
    .cap3Titulo p{
        font-size: 9px;
    }
    .cap3Sinopsis{
        height: 55px;
        width: 270px;
        margin-left: 65px;
        margin-top: -55px;
        grid-area: cap3Sinopsis;
    }
    .cap3Sinopsis p{
        font-size: 9px;
    }
    .capitulo4{
        grid-area: capitulo4;
    }
    .cap4Titulo{
        height: 55px;
        width: 55px;
        grid-area: cap4Titulo;
    }
    .cap4Titulo p{
        font-size: 9px;
    }
    .cap4Sinopsis{
        height: 55px;
        width: 270px;
        margin-left: 65px;
        margin-top: -55px;
        grid-area: cap1Sinopsis;
    }
    .cap4Sinopsis p{
        font-size: 9px;
    }
    .capContainer{
        align-items: center;
        display: grid;
        grid-template-columns: 15px 345px 15px;
        grid-template-rows: 20px 75px 75px 75px 75px;
        grid-template-areas: 
        ". titulo ."
        ". capitulo1 ."
        ". capitulo2 ."
        ". capitulo3 ."
        ". capitulo4 ."
        ;
    }
}
/*Dimensiones de un telefono grande de 425px de ancho*/
@media (min-width: 425px){
    .encabezado{
        width: 425px;
        height: 120px;
    }
    .logo{
        width: 100px;
        height: 100px;
        grid-area: logo;
    }
    .logo img{
        width: 100px;
        height: 100px;
        margin-top: 10px;
    }
    .navBar1{
        display: flex;
        margin-top: -50px;
        margin-left: 90px;
        font-size: 13px;
        font-family: 'Roboto', Regular;
        height: 15px;
        gap: 10px;
        justify-content: space-evenly;
    }
    .navBar1 li a:hover{
        font-size: 15px;
    }
    .mainContainer{
        width: 425px;
        background-image: url(./assets/imgs/logo\ david\ 375.jpeg);
        grid-area: mainContainer;
    }
    .capitulosBar{
        grid-area: capitulosBar;
    }
    .capitulosBar p{
        text-align: center;
    }
    .capitulosBar p a{
        font-size: 12px;
    
    }
    .cap1{
        width: 60px;
        height: 60px;
    }
    .cap1 p a:hover{
        font-size: 14px;
    }
    .cap2{
        width: 60px;
        height: 60px;
    }
    .cap2 p a:hover{
        font-size: 14px;
    }
    .cap3{
        width: 60px;
        height: 60px;
    }
    .cap3 p a:hover{
        font-size: 14px;
    }
    .cap4{
        width: 60px;
        height: 60px;
    }
    .cap4 p a:hover{
        font-size: 14px;
    }
    .cap5{
        width: 60px;
        height: 60px;
    }
    .cap5 p a:hover{
        font-size: 14px;
    }
    .cap6{
        width: 60px;
        height: 60px;
    }
    .cap6 p a:hover{
        font-size: 14px;
    }
    .datoCurioso1{
        height: 90px;
        width: 375px;
        grid-area: datoCurioso1;
    }
    .datoCurioso1 p{
        font-size: 14px;
    }
    .datoCurioso2{
        height: 90px;
        width: 180px;
        grid-area: datoCurioso2;
    }
    .datoCurioso2 p{
        font-size: 14px;
    }
    .datoCurioso3{
        height: 90px;
        width: 180px;
        grid-area: datoCurioso3;
    }
    .datoCurioso3 p{
        font-size: 14px;
    }
    .datoCurioso4{
        height: 90px;
        width: 180px;
        grid-area: datoCurioso4;
    }
    .datoCurioso4 p{
        font-size: 14px;
    }
    .datoCurioso5{
        height: 90px;
        width: 180px;
        grid-area: datoCurioso5;
    }
    .datoCurioso5 p{
        font-size: 14px;
    }
    .mainContainer{
        align-items: center;
        display: grid;
        grid-template-columns: 25px 180px 15px 180px 25px;
        grid-template-rows: 90px 105px 105px 105px;
        grid-template-areas: 
        ". capitulosBar capitulosBar capitulosBar ."
        ". datoCurioso1 datoCurioso1 datoCurioso1 ."
        ". datoCurioso2 . datoCurioso3 ."
        ". datoCurioso4 . datoCurioso5 ."
        ;
    }
    .capitulosBar{
        display: grid;
        grid-template-columns: repeat(6,1fr);
        grid-template-rows: 1fr;
        grid-template-areas: 
        "cap1 cap2 cap3 cap4 cap5 cap6"
        ;
        padding-left: 0;
        gap: 5px;
    }
    .footerLogos{
        padding-left: 110px;
    }
    .footerLogos img{
        height: 40px;
        width: 40px;
        border-radius: 50%;
    }
}
/*Dimensiones de una tablet de 768px de ancho*/
@media (min-width: 768px){
    .encabezado{
        width: 768px;
        height: 120px;
        background-image: url(./assets/imgs/banner\ 1.jpeg);
        background-repeat: repeat;
        background-size: contain;
    }
    .logo{
        width: 100px;
        height: 100px;
        grid-area: logo;
    }
    .logo img{
        width: 100px;
        height: 100px;
        border-radius: 50%;
        margin-top: 10px;
    }
    .navBar1{
        display: flex;
        margin-top: -52px;
        margin-left: 90px;
        font-size: 21px;
        font-family: 'Roboto', Regular;
        height: 23px;
        gap: 10px;
        justify-content: space-evenly;
    }
    .navBar1 li a:hover{
        font-size: 25px;
    }
    .mainContainer{
        width: 768px;
        grid-area: mainContainer;
    }
    .capitulosBar{
        grid-area: capitulosBar;
    }
    .capitulosBar p{
        text-align: center;
    }
    .capitulosBar p a{
        font-size: 20px;
    
    }
    .cap1{
        width: 100px;
        height: 100px;
    }
    .cap1 p a:hover{
        font-size: 22px;
    }
    .cap2{
        width: 100px;
        height: 100px;
    }
    .cap2 p a:hover{
        font-size: 22px;
    }
    .cap3{
        width: 100px;
        height: 100px;
    }
    .cap3 p a:hover{
        font-size: 22px;
    }
    .cap4{
        width: 100px;
        height: 100px;
    }
    .cap4 p a:hover{
        font-size: 22px;
    }
    .cap5{
        width: 100px;
        height: 100px;
    }
    .cap5 p a:hover{
        font-size: 22px;
    }
    .cap6{
        width: 100px;
        height: 100px;
    }
    .cap6 p a:hover{
        font-size: 22px;
    }
    .datoCurioso1{
        height: 125px;
        width: 425px;
        grid-area: datoCurioso1;
    }
    .datoCurioso1 p{
        font-size: 20px;
    }
    .datoCurioso2{
        height: 125px;
        width: 245px;
        grid-area: datoCurioso2;
    }
    .datoCurioso2 p{
        font-size: 20px;
    }
    .datoCurioso3{
        height: 125px;
        width: 230px;
        grid-area: datoCurioso3;
    }
    .datoCurioso3 p{
        font-size: 20px;
    }
    .datoCurioso4{
        height: 125px;
        width: 230px;
        grid-area: datoCurioso4;
    }
    .datoCurioso4 p{
        font-size: 20px;
    }
    .datoCurioso5{
        height: 125px;
        width: 230px;
        grid-area: datoCurioso5;
    }
    .datoCurioso5 p{
        font-size: 20px;
    }
    .mainContainer{
        align-items: center;
        display: grid;
        grid-template-columns: 24px 230px 15px 230px 15px 230px 24px;
        grid-template-rows: 130px 150px 150px;
        grid-template-areas: 
        ". capitulosBar capitulosBar capitulosBar capitulosBar capitulosBar."
        ". datoCurioso1 datoCurioso1 . datoCurioso2 datoCurioso2 ."
        ". datoCurioso3 . datoCurioso4 . datoCurioso5 ."
        ;
    }
    .capitulosBar{
        display: grid;
        grid-template-columns: repeat(6,1fr);
        grid-template-rows: 1fr;
        grid-template-areas: 
        "cap1 cap2 cap3 cap4 cap5 cap6"
        ;
        padding-left: 0;
        gap: 15px;
    }
    .footerLogos{
        padding-left: 250px;
    }
    .footerLogos img{
        height: 50px;
        width: 50px;
        border-radius: 50%;
    }
}
/*Dimensiones de una laptop de 1024px de ancho*/
@media (min-width: 1024px){
    .encabezado{
        width: 1024px;
        height: 120px;
        background-repeat: repeat;
        background-size: contain;
    }
    .logo{
        width: 100px;
        height: 100px;
        grid-area: logo;
    }
    .logo img{
        width: 100px;
        height: 100px;
        border-radius: 50%;
        margin-top: 10px;
    }
    .navBar1{
        display: flex;
        margin-top: -52px;
        margin-left: 90px;
        font-size: 23px;
        font-family: 'Roboto', Regular;
        height: 25px;
        gap: 10px;
        justify-content: space-evenly;
    }
    .navBar1 li a:hover{
        font-size: 25px;
    }
    .mainContainer{
        width: 1024px;
        background-image: url(./assets/imgs/logo\ david\ 1024.jpeg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        grid-area: mainContainer;
    }
    .capitulosBar{
        grid-area: capitulosBar;
    }
    .capitulosBar p{
        text-align: center;
    }
    .capitulosBar p a{
        font-size: 20px;
    
    }
    .cap1{
        width: 125px;
        height: 125px;
    }
    .cap1 p a:hover{
        font-size: 22px;
    }
    .cap2{
        width: 125px;
        height: 125px;
    }
    .cap2 p a:hover{
        font-size: 22px;
    }
    .cap3{
        width: 125px;
        height: 125px;
    }
    .cap3 p a:hover{
        font-size: 22px;
    }
    .cap4{
        width: 125px;
        height: 125px;
    }
    .cap4 p a:hover{
        font-size: 22px;
    }
    .cap5{
        width: 125px;
        height: 125px;
    }
    .cap5 p a:hover{
        font-size: 22px;
    }
    .cap6{
        width: 125px;
        height: 125px;
    }
    .cap6 p a:hover{
        font-size: 22px;
    }
    .datoCurioso1{
        height: 125px;
        width: 500px;
        grid-area: datoCurioso1;
    }
    .datoCurioso1 p{
        font-size: 20px;
    }
    .datoCurioso2{
        height: 125px;
        width: 280px;
        grid-area: datoCurioso2;
    }
    .datoCurioso2 p{
        font-size: 20px;
    }
    .datoCurioso3{
        height: 125px;
        width: 265px;
        grid-area: datoCurioso3;
    }
    .datoCurioso3 p{
        font-size: 20px;
    }
    .datoCurioso4{
        height: 125px;
        width: 264px;
        grid-area: datoCurioso4;
    }
    .datoCurioso4 p{
        font-size: 20px;
    }
    .datoCurioso5{
        height: 125px;
        width: 265px;
        grid-area: datoCurioso5;
    }
    .datoCurioso5 p{
        font-size: 20px;
    }
    .mainContainer{
        align-items: center;
        display: grid;
        grid-template-columns: 100px 265px 15px 264px 15px 265px 100px;
        grid-template-rows: 150px 150px 150px;
        grid-template-areas: 
        ". capitulosBar capitulosBar capitulosBar capitulosBar capitulosBar."
        ". datoCurioso1 datoCurioso1 . datoCurioso2 datoCurioso2 ."
        ". datoCurioso3 . datoCurioso4 . datoCurioso5 ."
        ;
    }
    .capitulosBar{
        display: grid;
        grid-template-columns: repeat(6,1fr);
        grid-template-rows: 1fr;
        grid-template-areas: 
        "cap1 cap2 cap3 cap4 cap5 cap6"
        ;
        padding-left: 0;
        gap: 15px;
    }
    .footerLogos{
        padding-left: 360px;
        row-gap: 10px;
    }
    .footerLogos img{
        height: 60px;
        width: 60px;
        border-radius: 50%;
    }
}
/*Dimensiones de una laptop de 1440px de ancho*/
@media (min-width: 1440px){
    .encabezado{
        width: 1440px;
        height: 140px;
        background-repeat: repeat;
        background-size: contain;
    }
    .logo{
        width: 120px;
        height: 120px;
        grid-area: logo;
    }
    .logo img{
        width: 120px;
        height: 120px;
        margin-top: 10px;
    }
    .navBar1{
        display: flex;
        margin-top: -65px;
        margin-left: 90px;
        font-size: 26px;
        font-family: 'Roboto', Regular;
        height: 28px;
        gap: 10px;
        justify-content: space-evenly;
    }
    .navBar1 li a:hover{
        font-size: 28px;
    }
    .mainContainer{
        width: 1440px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        grid-area: mainContainer;
    }
    .capitulosBar{
        grid-area: capitulosBar;
    }
    .capitulosBar p{
        text-align: center;
    }
    .capitulosBar p a{
        font-size: 22px;
    }
    .cap1{
        width: 150px;
        height: 150px;
    }
    .cap1 p a:hover{
        font-size: 24px;
    }
    .cap2{
        width: 150px;
        height: 150px;
    }
    .cap2 p a:hover{
        font-size: 24px;
    }
    .cap3{
        width: 150px;
        height: 150px;
    }
    .cap3 p a:hover{
        font-size: 24px;
    }
    .cap4{
        width: 150px;
        height: 150px;
    }
    .cap4 p a:hover{
        font-size: 24px;
    }
    .cap5{
        width: 150px;
        height: 150px;
    }
    .cap5 p a:hover{
        font-size: 24px;
    }
    .cap6{
        width: 150px;
        height: 150px;
    }
    .cap6 p a:hover{
        font-size: 24px;
    }
    .datoCurioso1{
        height: 150px;
        width: 800px;
        grid-area: datoCurioso1;
    }
    .datoCurioso1 p{
        font-size: 22px;
    }
    .datoCurioso2{
        height: 150px;
        width: 420px;
        grid-area: datoCurioso2;
    }
    .datoCurioso2 p{
        font-size: 22px;
    }
    .datoCurioso3{
        height: 150px;
        width: 400px;
        grid-area: datoCurioso3;
    }
    .datoCurioso3 p{
        font-size: 22px;
    }
    .datoCurioso4{
        height: 150px;
        width: 400px;
        grid-area: datoCurioso4;
    }
    .datoCurioso4 p{
        font-size: 22px;
    }
    .datoCurioso5{
        height: 150px;
        width: 400px;
        grid-area: datoCurioso5;
    }
    .datoCurioso5 p{
        font-size: 22px;
    }
    .mainContainer{
        align-items: center;
        display: grid;
        grid-template-columns: 100px 400px 20px 400px 20px 400px 100px;
        grid-template-rows: 180px 180px 180px;
        grid-template-areas: 
        ". capitulosBar capitulosBar capitulosBar capitulosBar capitulosBar."
        ". datoCurioso1 datoCurioso1 . datoCurioso2 datoCurioso2 ."
        ". datoCurioso3 . datoCurioso4 . datoCurioso5 ."
        ;
    }
    .capitulosBar{
        display: grid;
        grid-template-columns: repeat(6,1fr);
        grid-template-rows: 1fr;
        grid-template-areas: 
        "cap1 cap2 cap3 cap4 cap5 cap6"
        ;
        padding-left: 30px;
        gap: 15px;
    }
    .footerLogos{
        padding-left: 550px;
        row-gap: 10px;
    }
    .footerLogos img{
        height: 70px;
        width: 70px;
        border-radius: 50%;
    }
}
